.menu{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    background-color: yellow;
    color: #000000;
    text-align: center;
}

.cart{
    width: 200px;
    margin: 0px auto 0px auto;
}